<div class="full-width-deo-reviews">
  <div class="content content-area flex">
    <div class="testimonial-deo">
      <div class="deo-text">"I will never use another natural deodorant again."</div>
      <div class="deo-person">— Marissa</div>
    </div>
    <div class="testimonial-deo">
      <div class="deo-text">"If I could give this 10 stars I would."</div>
      <div class="deo-person">— Amanda</div>
    </div>
    <div class="testimonial-deo">
      <div class="deo-text">"This might be my new holy grail product."</div>
      <div class="deo-person">— Philicia</div>
    </div>
    <div class="testimonial-deo">
      <div class="deo-text">"This stuff is the real deal and has literally changed my life."</div>
      <div class="deo-person">— Caryn</div>
    </div>
    <div class="testimonial-deo">
      <div class="deo-text">"LOVE LOVE LOVE."</div>
      <div class="deo-person">— Kaitlin</div>
    </div>
    <div class="testimonial-deo">
      <div class="deo-text">"Thank you for making me a believer that natural deodorants can actually work!"</div>
      <div class="deo-person">— Emily</div>
    </div>
  </div>
</div>

