<div class="home-brands">
  <div class="featured-in"><img class="lazyload" data-src="{{ "featured-in.jpg" | asset_url }}" alt="Featured In" /></div>
  <div class="brand-desktop"><img class="lazyload" data-src="{{ "homepage-brands.jpg" | asset_url }}" alt="Primally Pure" /></div>
  <div class="brand-mobile"><img class="lazyload" data-src="{{ "homepage-brands.jpg" | asset_url }}" alt="Primally Pure" /></div>
</div>