<section class="blog-feature">
  <a href="{{ settings.blogposturl }}" target="_blank">
    <h1 class="article-title">
          <div class="from-blog">From the Blog</div>
      <div class-"title-h1">{{ settings.blogposttitle }}</div>
            <div class="read-more-btn">
            Read more
          </div>
    </h1>
    <div class="article-image">
      <img class="lazyload" data-src="{{'featuredblog.jpg' | asset_url " alt="{{ settings.blogposttitle }}" />
      <div class="spotlight-border"></div>
    </div>
    
    <div class="clearfix"></div>
  </a>
</section>