{% if settings.instagram-access-token != blank %}

  <section class="instagram-widget">
    {% comment %}<h2 class="section-title">{{ settings.instagram-title }}</h2>{% endcomment %}
    <div class="instagram-photos"></div>
  </section>

{% endif %}