
<div id="our-promise">
  <h3>OUR PURE PROMISE</h3>
  
  <div class="promise-container">
    <div class="promise">
      <img data-src="{{ 'No-Artificial-Anything.png' | asset_url }}" alt="No Artificial Anything" class="lazyload" />
      <p>We use nature's most precious elements and nothing more.</p>
    </div>
    <div class="promise">
      <img data-src="{{ 'Not-Tested-On-Animals.png' | asset_url }}" alt="Not Tested on Animals" class="lazyload" />
      <p>We're animal lovers, and we never test our products on them.</p>
    </div>
    <div class="promise">
      <img data-src="{{ 'Made-in-the-USA.png' | asset_url }}" alt="Made in the USA" class="lazyload" />
      <p>Handcrafted with love in the US.</p>
    </div>
    <div class="promise">
      <img data-src="{{ 'Satisfaction-Guaranteed.png' | asset_url }}" alt="Satisfaction Guaranteed" class="lazyload" />
      <p>If you're not 100% satisfied, we’ll give you your money back.</p>
    </div>
  </div>
  
</div>