
          <div id="page" class="row">
          <div class="span12 details">
          <h1 class="p25">{{ page.title }}</h1>
          {{ page.content }}
          <div class='sitemap-container'>
          <script id='sitemap-tracking' src="//setup.shopapps.io/sitemap-generator/script/primallypure.js"></script>
          </div>
          </div>
          </div>
        