<section class="content content-area">

  <div class="text-content-wrap clearfix" style="margin: auto; float: none;">
    <div class="rte clearfix text-content" style="margin: auto; float: none;">
      {{ page.content }}
    </div>

    

  </div>

</section>
