<!-- spa specific css -->
{{ 'spa.scss.css' | asset_url | stylesheet_tag }} 


<section class="spa-header spa-desktop"><a href="/pages/spa"><img src="{{ 'spa-header.jpg' | asset_url }}"/></a></section>
<section class="spa-header spa-mobile"><a href="/pages/spa"><img src="{{ 'spa-header-mobile.jpg' | asset_url }}"/></a></section>


<section class="content content-area">
  
  <div class="text-content-wrap clearfix spa-content">
    <div class="rte clearfix">
      {% include 'spa-booking-code' %}
    </div>


  </div>

</section>

