<section class="content content-area">

  {% include 'breadcrumbs' %}
  <div class="page-title">
    <h1 class="label">{{ page.title }}</h1>
  </div>

      {{ page.content }} <!-- include 'wishlist-collection' -->

</section>
